node_modules/
dist/
build/
data/databases/*.db
data/databases/*.db-wal
data/databases/*.db-shm
data/databases/.salt
data/.token
data/attachments/*
!data/attachments/.gitkeep
*.obj
*.o
*.dll
*.so
*.dylib
*.exe
*.log
.env
